<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target xsi:type="File" name="logfile" fileName="${basedir}/Logs/log_${date:format=yyyy-MMMM-dd}.csv">
			<layout xsi:type="CsvLayout" delimiter="Comma" withHeader="true">
				<column name="Time" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fff}" quoting="Nothing" />
				<column name="Level" layout="${level:upperCase=true}" quoting="Nothing"/>
				<column name="Callsite" layout="${callsite:includeSourcePath=true}" />
				<column name="Message" layout="${message}" quoting="All" />
				<column name="Exception" layout="${exception:format=ToString}" quoting="All"/>
			</layout>
		</target>
		<target name="logconsole" xsi:type="Console" />
		<target xsi:type="Null" name="blackhole" />
	</targets>

	<rules>
		<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
		<logger name="Quartz*" minlevel="Trace" maxlevel="Info" writeTo="blackhole" final="true" />
		<!--<logger name="*" minlevel="Info" writeTo="logconsole" />-->
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>

</nlog>
